.bubble {
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    word-break: break-word;
    margin: 5px 0;
    width: fit-content;
  }
  
  .bubble-outbound {
    @extend .bubble;
    background-color: #202843;
    color: #fff;
  }
  
  .bubble-inbound {
    @extend .bubble;
    background-color: #f8f5f4;
    color: #343b53;
  }
  
  .bubble-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
  
    &-outbound {
      @extend .bubble-container;
      justify-content: flex-end;
      margin-left: 5%;
    }
  
    &-inbound {
      @extend .bubble-container;
      justify-content: flex-start;
    }
  }
  
  .author {
    font-size: xx-small;
  }
  