.widget-container {
    position: relative;
    height: 650px;
    width: 500px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.widget-header {
    height: 10%;
    border-bottom: 2px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.widget-body {
    height: 80%;
}
.widget-footer {
    height: 10%;
    border-top: 2px solid blue;
}