.widget-container {
    position: relative;
    height: 650px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color:white;
    height: calc(100vh - 2.5rem);
    width: 25rem;
    border-radius: 0.625rem;
    box-shadow: 0 8px 16px 0 rgba(0, 11, 38, 0.24);
    border: none;
    max-height: 44.25rem;
    max-height: min(100vh - 2.5rem, 44.25rem);
}

.widget-header {
    height: 10%;
    border-bottom: 1px solid #d7d4d2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    .widget-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 40px;
        font-size: x-large;
        .close-icon {
            cursor: pointer;
            &:hover {
                font-size: xx-large;
            }
        }
        .toggle {
            height: 10px;
            width: 10px;
            background-color: red;
            border-radius: 50%;
            cursor: pointer;
            margin-top: 5px;
            &:hover {
                height: 15px;
                width: 15px;
            }
        }
        .toggle-success {
            height: 10px;
            width: 10px;
            background-color: green;
            border-radius: 50%;
            cursor: pointer;
            margin-top: 5px;
            &:hover {
                height: 15px;
                width: 15px;
            }
        }

    }
}


.widget-body {
    height: 83%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    overflow: auto;
}
.widget-footer {
    position: relative;
    height: 7%;
    border-top: 1px solid #d7d4d2;
}

.send-msg-form {
    position: relative;
    display: flex;
    height: 100%;
    textarea {
        height: 60%;
        width: 85%;
        border: none;
        outline: none;
        resize: none;
        padding-inline: 5%;
        padding-top: 3%;
        line-height: 1.25rem;
    }
    button {
        height: 100%;
        width: 15%;
    }
}