:root {
    --container-height: 100vh;
    --container-width: 100vw;
    --header-height: min(150px);
    --footer-height: min(150px);
    --content-padding: 10px;
    --background-color: hsl(210, 8%, 80%);
    --border-color: black;
    --margin: 20px;
  }
  
  .dashboard-main-container {
    height: var(--container-height);
    width: var(--container-width);
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
    height: var(--header-height);
    h1 {
      margin-left: var(--margin);
    }
    .dashboard-nav {
      margin-right: var(--margin);
      display: flex;
      align-items: center;
      a {
        margin: 0 var(--margin);
      }
    }
  }
  
  .dashboard-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--border-color);
    height: var(--footer-height);
  }
  
  .dashboard-body-container {
    background-color: var(--background-color);
    height: 100%;
    width: calc(100% - 10px);
    overflow: auto;
    padding-left: var(--content-padding);
  }
  